<li>
	{{!-- {{dataValues.goalName}} --}}


{{!-- =============== Colins Work Station =========== --}}

	{{!-- Create the id of the subgoal to equal the id of main goal --}}

<a class="waves-effect waves-light btn subGoal" id='{{dataValues.id}}' data-id="{{dataValues.id}}" data-parent="{{dataValues.goalName}}">{{dataValues.goalName}}</a>

	
{{!-- =============== Colins Work Station =========== --}}

</li>