<li>
	{{!-- {{dataValues.goalName}} --}}


{{!-- =============== Colins Work Station =========== --}}

	{{!-- Create the id of the subgoal to equal the id of main goal --}}
	 <button class="subGoal" id='{{dataValues.id}}' data-id="{{dataValues.id}}" data-parent="{{dataValues.goalName}}">
            {{dataValues.goalName}}
	    </button>
	
{{!-- =============== Colins Work Station =========== --}}

</li>